.map{
  height: 100%;
  overflow-x:hidden ;
  position: relative;
      iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none;
        width: 80vw;
        height: 75vh;
        margin: 20px 10px 20px 10px;
        
        }
        p{
    font-size: 20px;
    font-weight: 500;
    color:#080074;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 700px) {
    iframe{
      width: 90vw;
      margin: auto;
      
        
    }
    p{
      top: 92%;
    }
  }
      
}
